*, *:before, *:after {
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  height: inherit;
  background: linear-gradient(#141848, #16182c 40%);
  color: white;
  font-family: 'Helvetica', Arial, sans-serif;
}

h1 {
  font-size: 2rem;
  font-weight: 400;
}

h2 {
  font-size: 1.4rem;
  font-weight: 400;
}

.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-right: -5px;
  margin-left: -5px;
}

.grid-item {
  padding-right: 5px;
  padding-left: 5px;
}

.paper {
  padding: 20px;
  background: #111321;
  border-radius: 5px;
}

.mts {
  margin-top: .8rem;
}
